<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.WorkSubmitMapper" >
  <resultMap id="BaseResultMap" type="entity.WorkSubmit" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="sub_time" property="subTime" jdbcType="TIMESTAMP" />
    <result column="work_title" property="workTitle" jdbcType="VARCHAR" />
    <result column="file_url" property="fileUrl" jdbcType="VARCHAR" />
    <result column="fk_work" property="fkWork" jdbcType="INTEGER" />
    <result column="fk_student" property="fkStudent" jdbcType="INTEGER" />
    <result column="del_flag" property="delFlag" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, sub_time, work_title, file_url, fk_work, fk_student, del_flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from work_submit
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectByWorkIdAndStudentId" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List" />
      from work_submit
      where fk_student=#{studentId} and fk_work = #{workId}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from work_submit
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="entity.WorkSubmit" >
    insert into work_submit (id, sub_time, work_title, 
      file_url, fk_work, fk_student, 
      del_flag)
    values (#{id,jdbcType=INTEGER}, #{subTime,jdbcType=TIMESTAMP}, #{workTitle,jdbcType=VARCHAR}, 
      #{fileUrl,jdbcType=VARCHAR}, #{fkWork,jdbcType=INTEGER}, #{fkStudent,jdbcType=INTEGER}, 
      #{delFlag,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="entity.WorkSubmit" >
    insert into work_submit
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="subTime != null" >
        sub_time,
      </if>
      <if test="workTitle != null" >
        work_title,
      </if>
      <if test="fileUrl != null" >
        file_url,
      </if>
      <if test="fkWork != null" >
        fk_work,
      </if>
      <if test="fkStudent != null" >
        fk_student,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="subTime != null" >
        #{subTime,jdbcType=TIMESTAMP},
      </if>
      <if test="workTitle != null" >
        #{workTitle,jdbcType=VARCHAR},
      </if>
      <if test="fileUrl != null" >
        #{fileUrl,jdbcType=VARCHAR},
      </if>
      <if test="fkWork != null" >
        #{fkWork,jdbcType=INTEGER},
      </if>
      <if test="fkStudent != null" >
        #{fkStudent,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="entity.WorkSubmit" >
    update work_submit
    <set >
      <if test="subTime != null" >
        sub_time = #{subTime,jdbcType=TIMESTAMP},
      </if>
      <if test="workTitle != null" >
        work_title = #{workTitle,jdbcType=VARCHAR},
      </if>
      <if test="fileUrl != null" >
        file_url = #{fileUrl,jdbcType=VARCHAR},
      </if>
      <if test="fkWork != null" >
        fk_work = #{fkWork,jdbcType=INTEGER},
      </if>
      <if test="fkStudent != null" >
        fk_student = #{fkStudent,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="entity.WorkSubmit" >
    update work_submit
    set sub_time = #{subTime,jdbcType=TIMESTAMP},
      work_title = #{workTitle,jdbcType=VARCHAR},
      file_url = #{fileUrl,jdbcType=VARCHAR},
      fk_work = #{fkWork,jdbcType=INTEGER},
      fk_student = #{fkStudent,jdbcType=INTEGER},
      del_flag = #{delFlag,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>